name: CI/CD PipeLines
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Run a one-line script
        run: echo Hello, world!


  deploy-dev:
    runs-on: ubuntu-latest
    environment: 
      name: dev
      url: 'josenilto.github.io/dev'
    needs: build
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test      
    - name: Run a one-line script
      run: echo Deploy Dev

  deploy-hmg:
    runs-on: ubuntu-latest
    environment: 
      name: hmg
      url: 'josenilto.github.io/hmg'
    needs: deploy-dev
    steps:
      - name: Run a one-line script
        run: echo Deploy HMG


  deploy-prd:
    runs-on: ubuntu-latest
    environment: 
      name: prd
      url: 'josenilto.github.io'
    needs: deploy-hmg
    steps:
      - name: Run a one-line script
        run: echo Deploy PRD
